{% extends 'base.html.twig' %}
{% block body %}
    <div class="container col-4 mt-4">
        <h1>Éditer le bien</h1>
        {{ include('admin/product/_form.html.twig', {foo: 'bar', button: 'Éditer'}) }}
    </div>
{% endblock %}